/* more.css */
.image {
    height: auto;
    width: 500px;

}
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cyan;
}
h1 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 70px;
color: navy;
}
p {
color: crimson;
background-color: navy;

}